.page-title {
	margin-block-start: 0 !important;
}

@media (max-width: 599.9999px) {
	.page-title {
		padding-top: 44px;
	}
}

.page-logo {
	padding-top: 160px;
	margin-block-start: 0 !important;
}

.page-date {
	margin-block-start: 0 !important;
}
