.page-cover {
	background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/page-cover.webp")
		top center / 100% auto no-repeat;
}

@media (max-width: 599.9999px) {
	.page-cover {
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/sp-page-cover.png")
			top center / 100% auto no-repeat;
	}
}

.page-cover {
	& > header.wp-block-template-part {
		max-width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin: 0 calc(50% - 50vw);
		width: 100vw;
	}
}
