.top-wapuu-style-1 {
	position: relative;
	&::after {
		content: "";
		width: 340px;
		height: 410px;
		display: inline-block;
		position: absolute;
		top: calc(100% + 70px);
		left: -350px;
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/top-wapuu-style-1.png")
			top center / 100% auto no-repeat;
	}
}

.top-wapuu-style-2 {
	position: relative;
	&::after {
		content: "";
		width: 260px;
		height: 310px;
		display: inline-block;
		position: absolute;
		top: 100%;
		right: -260px;
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/top-wapuu-style-2.png")
			top center / 100% auto no-repeat;
	}
}

.top-wapuu-style-3 {
	position: relative;
	&::after {
		content: "";
		width: 410px;
		height: 480px;
		display: inline-block;
		position: absolute;
		top: 90%;
		left: -330px;
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/top-wapuu-style-3.png")
			top center / 100% auto no-repeat;
	}
}

.top-wapuu-style-4 {
	position: relative;
	&::after {
		content: "";
		width: 340px;
		height: 380px;
		display: inline-block;
		position: absolute;
		top: 98%;
		right: 120px;
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/top-wapuu-style-4.png")
			top center / 100% auto no-repeat;
	}
}
