.top-wapuu-style-1 {
	position: relative;
	&::after {
		content: "";
		width: 340px;
		height: 410px;
		display: inline-block;
		position: absolute;
		bottom: 68px;
		left: 67px;
		background: url("https://raw.githubusercontent.com/WordCampKansai/wp-theme-wck2025/main/docs/images/top-wapuu-style-1.png")
			top center / 100% auto no-repeat;
	}
}
