*.log
*~
*.bak
*.org
.htaccess
Thumbs.db
desktop.ini
.DS_Store
cache
.wp-env.json
package-lock.json
sitemap.xml
sitemap.xml.gz
.user.ini

### css ###
*.css.map

### js ###
*.js.map

## npm ##
node_modules/

## VS code ##
.vscode/
*.code-workspace
