body {
  font-family: "Zen Kaku Gothic New";
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
caption,
figcaption {
  text-wrap: balance;
}

.is-display-pc--layout-flex {
  display: flex;
}

.is-display-pc--layout-block {
  display: block;
}

@media (min-width: 600px) {
  .is-display-pc--layout-block,
  .is-display-pc--layout-flex {
    display: none;
  }
}
.is-display-mobile--layout-block,
.is-display-mobile--layout-flex {
  display: none;
}

@media (min-width: 600px) {
  .is-display-mobile--layout-flex {
    display: flex;
  }
  .is-display-mobile--layout-block {
    display: block;
  }
}
