@use "sass:math";

:root {
	--font-size-12: #{math.div(12, 16) * 1rem};
	--font-size-13: #{math.div(13, 16) * 1rem};
	--font-size-14: #{math.div(14, 16) * 1rem};
	--font-size-15: #{math.div(15, 16) * 1rem};
	--font-size-16: #{math.div(16, 16) * 1rem};
	--font-size-17: #{math.div(17, 16) * 1rem};
	--font-size-18: #{math.div(18, 16) * 1rem};
	--font-size-19: #{math.div(19, 16) * 1rem};
	--font-size-20: #{math.div(20, 16) * 1rem};
	--font-size-21: #{math.div(21, 16) * 1rem};
	--font-size-23: #{math.div(23, 16) * 1rem};
	--font-size-24: #{math.div(24, 16) * 1rem};
	--font-size-25: #{math.div(25, 16) * 1rem};
	--font-size-26: #{math.div(26, 16) * 1rem};
	--font-size-27: #{math.div(27, 16) * 1rem};
	--font-size-28: #{math.div(28, 16) * 1rem};
	--font-size-29: #{math.div(29, 16) * 1rem};
	--font-size-30: #{math.div(30, 16) * 1rem};
	--font-size-31: #{math.div(31, 16) * 1rem};
	--font-size-32: #{math.div(32, 16) * 1rem};
	--font-size-56: #{math.div(56, 16) * 1rem};
}

body {
	font-family: "Zen Kaku Gothic New";
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
caption,
figcaption {
	&:not(.wp-block-post-title) {
		text-wrap: balance;
	}
}

a:where([class*="has-custom-"]) {
	font-size: inherit;
}
