@keyframes infinity-scroll-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100vw);
	}
}

.carousel-wrap {
	display: flex !important;
	flex-direction: row !important;
	overflow-x: auto !important;
	flex-wrap: nowrap !important;
	scroll-snap-type: x mandatory !important;
	scroll-behavior: smooth !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

.carousel-wrap > .carousel-inner {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	min-width: 200vw !important;
	animation: infinity-scroll-left 10s linear infinite;
	padding: 0 !important;
	margin: 0 !important;
	// &:hover {
	// 	animation-play-state: paused;
	// }
}

.carousel-inner > .carousel-item {
	width: 100vw !important;
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	padding: 0 !important;
	margin: 0 !important;
}

.carousel-inner > .carousel-item > .wp-block-post {
	scroll-snap-align: start !important;
	display: flex !important;
	align-items: center !important;
	justify-content: start !important;
	flex-direction: column !important;
	flex: none !important;
	width: 25%;
	min-width: 25%;
	&.post-1599,
	&.post-1736,
	&.post-1727 {
		display: none !important;
		opacity: 0 !important;
		width: 0 !important;
		height: 0 !important;
		visibility: hidden !important;
	}
}

.carousel-item > .wp-block-post > .wp-block-post-title {
	margin-block-start: 0;
}

.carousel-item > .wp-block-post > .wp-block-wordcamp-session-speakers {
	font-size: 1rem !important;
}

