.carousel > .wp-block-post {
	&.post-1599,
	&.post-1736,
	&.post-1727 {
		display: none;
		opacity: 0;
		width: 0;
		height: 0;
		visibility: hidden;
	}
}

.carousel-wrap {
	display: flex !important;
	flex-direction: row !important;
	overflow-x: auto !important;
	flex-wrap: nowrap !important;
	scroll-snap-type: x mandatory !important;
	scroll-behavior: smooth !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

.carousel-wrap > .carousel {
	display: flex !important;
	width: 100vw;
	animation: infinity-scroll-left 10s linear infinite;
	// &:hover {
	// 	animation-play-state: paused;
	// }
}

.carousel > .wp-block-post {
	scroll-snap-align: start !important;
	display: flex !important;
	align-items: center !important;
	justify-content: start !important;
	flex-direction: column !important;
	flex: none !important;
	width: 25%;
}

@keyframes infinity-scroll-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-50% - 30px / 2));
	}
}

.carousel > .wp-block-post > .wp-block-post-title {
	margin-block-start: 0;
}

.carousel > .wp-block-post > .wp-block-wordcamp-session-speakers {
	font-size: 1rem !important;
}
