@media (max-width: 599.9999px) {
	.global-header {
		justify-content: flex-end !important;
		background-color: unset !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.global-header {
	& > header.wp-block-template-part {
		max-width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin: 0 calc(50% - 50vw);
		width: 100vw;
	}
}
