.wp-block-navigation__responsive-container.is-menu-open
	.wp-block-navigation__responsive-container-content
	.has-child
	.wp-block-navigation-submenu {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.wp-block-navigation__responsive-container.is-menu-open
	.wp-block-navigation__responsive-container-content
	.has-child
	.wp-block-navigation-submenu
	.wp-block-navigation-item__content {
	padding-left: 0;
	padding-right: 0;
	font-size: 1.2rem !important;
}
